# Outlier Tespiti ve Sınıflandırma

In [5]:
import pandas as pd

df=pd.read_csv("outlier_ornek_veriseti.csv",sep=';')
df

      isim  boy
0      can   88
1      ali  132
2    tugce  134
3     ayse  137
4    nihan  139
5    sahin  142
6     kaan  142
7     emre  144
8    bartu  147
9   ismail  148
10  gokalp  149
11   osman  149
12   filiz  150
13    veli  207
14   ilker  234

In [6]:
df.describe()

              boy
count   15.000000
mean   149.466667
std     32.943386
min     88.000000
25%    138.000000
50%    144.000000
75%    149.000000
max    234.000000

In [7]:
# %25 percentile hesaplama

In [8]:
Q1=df.boy.quantile(0.25)
Q1

138.0

In [9]:
# %75 percentile hesaplama

In [10]:
Q2=df.boy.quantile(0.75)
Q2

149.0

In [11]:
#IQR değeri

In [12]:
ıqr_degeri=Q2-Q1
ıqr_degeri

11.0

In [13]:
#alt ve üst limit hesaplama

In [14]:
alt_limit=Q1-1.5*ıqr_degeri
alt_limit

121.5

In [18]:
ust_limit=Q2+1.5*ıqr_degeri
ust_limit

165.5

In [16]:
#Alt ve Üst limit hesaplandığına göre artık Outlier(aykırı) değerleri bulabiliriz.

In [19]:
df[(df.boy<alt_limit)|(df.boy>ust_limit)]

     isim  boy
0     can   88
13   veli  207
14  ilker  234

In [20]:
#Bu değerler aykırı değerlerdir. İstatiksel hesaplamaların daha verimli ve etkin çalışabilmesi için bu değerlerin filtrelenmesi gerekir.

In [21]:
df_filtrelenmis=df[(df.boy>alt_limit)&(df.boy<ust_limit)]
df_filtrelenmis

      isim  boy
1      ali  132
2    tugce  134
3     ayse  137
4    nihan  139
5    sahin  142
6     kaan  142
7     emre  144
8    bartu  147
9   ismail  148
10  gokalp  149
11   osman  149
12   filiz  150